# .NET build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# MSTest test Results
TestResults/

# Build Results
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Windows image file caches
Thumbs.db
Desktop.ini

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/

# Local history for Visual Studio
.localhistory/

# SQL Server files
*.mdf
*.ldf
*.ndf

# Others
*.log
*.vspscc
*.vssscc

# IIS Express
. vs/
/.vs/

# Mac
.DS_Store

# JetBrains Rider
.idea/
*.sln.iml

# User secrets
secrets.json

# dotnet watch
**/Properties/launchSettings.json 